body {
    background: linear-gradient(90deg, #485563 10%, #29323c 90%);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

form {
    max-width: 500px;
    margin: 40px auto 0;
    background: #ffffff;
    border: 0 none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 0 40px 40px;
}

h1 {
    font-size: 80px;
    line-height: 0.85;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Bree Serif';
    font-weight: 400;
}

h2 {
    border-bottom:1px solid #090909;
}

p {
    font-size: 12px;
    color: #bf1650;
}

p::before {
    display: inline;
    content: "⚠ ";
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #000000;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    font-family: Monaco;
}

label {
    line-height: 2;
    text-align: center;
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    font-family: Copperplate;
}

input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

input[type="submit"]:hover {
    background: #bf1650;
}

input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input[type="submit"] {
    -webkit-appearance: none;
}

.mega {
    font-size: 3rem; /* 72 / 18 = 4 */
    text-align: center;
}

.color-emphasis-1{color: #FF4056}

.giga {
    font-size: 100px; /* 90 / 18 = 5 */
    margin-bottom: 0.33rem;
}

.bree-serif{font-family: 'Bree Serif';}

.regular{font-weight: 400;}

.double-header-line:before, .double-header-line:after{
    content: "";
    display: block;
    position: absolute;
    width:7rem;
    background-color: transparent;
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom:1px solid #fff;
    top: 50%;
    margin-bottom: -4px;
}

.double-header-line:before{
    left: -7.5rem;
}
.double-header-line:after{
    right: -7.5rem;
}

.wrapper{
    max-width: 53.33rem;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    transform: translateY(-50%);
    top:50%;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: baseline;
}
.title {
    align-self: center;
    padding: 2rem;
    max-width: 960px;
    text-align: center
}

.orderContainer {
    display: grid;
    grid-template-columns: [col] 150px [col] auto;
    grid-template-rows: [row] 100px;
    column-gap: 50px
}

.customerContainer {
    display: grid;
    grid-template-columns: 225px 225px;
    grid-template-rows: 100px 100px;
    column-gap: 50px
}

.ccContainer {
    display: grid;
    grid-template-columns: [col] 225px [col] 225px;
    grid-template-rows: [row] 100px;
    column-gap: 50px
}

.addressContainer {
    display: grid;
    grid-template-columns: [col] 150px [col] auto [col] 150px;
    grid-template-rows: [row] 100px [row] 100px [row] 100px;
    column-gap: 30px
}

.span-3-1 {
    grid-column: col / span 3;
    grid-row: row ;
}

.span-3-2 {
    grid-column: col / span 3;
    grid-row: row 2 ;
}