@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
    font-weight: 400;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-wrapper {
     -webkit-box-flex: 1;
     -ms-flex: 1 0 auto;
     flex: 1 0 auto;
     overflow-x: hidden;
     position: relative;
     padding-top: 150px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}


h1, .h1 {
    color: #252525;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.428em;
}

.error {
    font-size: 10px;
    color: #bf1650;
    position: absolute;
}

.error::before {
    display: inline;
    content: "⚠ ";
}

a {
    text-decoration: none;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #000000;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    font-family: Monaco;
}

label {
    line-height: 2;
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    font-family: Copperplate;
}

input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin: 20px 0;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

input[type="submit"]:hover {
    background: #bf1650;
}

input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input[type="submit"] {
    -webkit-appearance: none;
}

@media (max-width: 768px) {
    h1, .h1 {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .error {
        font-size: 9px;
    }
}

@media (max-width: 768px) {
    label {
        font-size: 12px;
    }
}

@media (max-width: 1025px) {
    label {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    sub, .sub {
        font-size: 16px;
    }
}
