@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    overflow-x: hidden;
    position: relative;
    font-weight: 400;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main-wrapper {
     -webkit-box-flex: 1;
     -ms-flex: 1 0 auto;
     flex: 1 0 auto;
     overflow-x: hidden;
     position: relative;
     padding-top: 150px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.s1-card-1-2 {
    width: 50%;
    border-width: 0 1px 1px 0;
    /*padding: 40px 15px;*/
    padding: 10px 15px;
    /*margin: 10px 20px;*/
}

.s1-card-fill {
    width: 100%;
    border-width: 0 1px 1px 0;
    /*padding: 40px 15px;*/
    padding: 10px 10px;
    /*margin: 10px 20px;*/
}

.s1-card-1-3 {
    width: 33%;
    border-width: 0 1px 1px 0;
    /*padding: 40px 15px;*/
    padding: 10px 10px;
    /*margin-bottom: 20px;*/
}

form {
    /*max-width: 500px;*/
    margin: 0px auto 20px;
    /*background: #ffffff;*/
    /*border: 0 none;*/
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 0px 40px 0px;
    /*margin-bottom: 20px;*/
}

/*h1 {*/
/*    font-size: 80px;*/
/*    line-height: 0.85;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    color: #FFFFFF;*/
/*    font-family: 'Bree Serif';*/
/*    font-weight: 400;*/
/*}*/

/*h2 {*/
/*    border-bottom:1px solid #090909;*/
/*}*/

p {
    font-size: 10px;
    color: #bf1650;
    position: absolute;
}

p::before {
    display: inline;
    content: "⚠ ";
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #000000;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    font-family: Monaco;
}

label {
    line-height: 2;
    text-align: center;
    display: block;
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    font-family: Copperplate;
}

input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin: 20px 0;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
}

input[type="submit"]:hover {
    background: #bf1650;
}

input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input[type="submit"] {
    -webkit-appearance: none;
}

.mega {
    font-size: 3rem; /* 72 / 18 = 4 */
    text-align: center;
}

.color-emphasis-1{color: #FF4056}

.giga {
    font-size: 100px; /* 90 / 18 = 5 */
    margin-bottom: 0.33rem;
}

.bree-serif{font-family: 'Bree Serif';}

.regular{font-weight: 400;}

.double-header-line:before, .double-header-line:after{
    content: "";
    display: block;
    position: absolute;
    width:7rem;
    background-color: transparent;
    height: 4px;
    border-top: 1px solid #fff;
    border-bottom:1px solid #fff;
    top: 50%;
    margin-bottom: -4px;
}


.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.section1-col1 {
    width: 55%;
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.s1-col1-inner {
    margin-bottom: 160px;
    margin-left: 50px;
}

.section1-col1 h1 {
    margin-bottom: 25px;
}

.section1-col2 {
    width: 45%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 768px) {
    h1, .h1 {
        font-size: 35px;
    }
}

.section1-col2 {
    width: 45%;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*.title {*/
/*    align-self: center;*/
/*    padding: 2rem;*/
/*    max-width: 960px;*/
/*    text-align: center*/
/*}*/

.orderContainer {
    display: grid;
    grid-template-columns: [col] 150px [col] auto;
    grid-template-rows: [row] 100px;
    column-gap: 50px
}

.customerContainer {
    display: grid;
    grid-template-columns: 225px 225px;
    grid-template-rows: 100px 100px;
    column-gap: 50px
}

.ccContainer {
    display: grid;
    grid-template-columns: [col] 225px [col] 225px;
    grid-template-rows: [row] 100px;
    column-gap: 50px
}

.addressContainer {
    display: grid;
    grid-template-columns: [col] 150px [col] auto [col] 150px;
    grid-template-rows: [row] 100px [row] 100px [row] 100px;
    column-gap: 30px
}

.span-3-1 {
    grid-column: col / span 3;
    grid-row: row ;
}

.span-3-2 {
    grid-column: col / span 3;
    grid-row: row 2 ;
}

.nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-inner {
    min-height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

h1, .h1 {
    color: #252525;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.428em;
}

sub, .sub {
    color: #6f667b;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
}

.section1-col1 p {
    max-width: 445px;
    margin-bottom: 35px;
}

.section1-col2-wrap {
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 80px 50px -50px rgba(0, 0, 0, 0.15);
    box-shadow: 0 80px 50px -50px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
    .section1 {
        padding: 15px 15px 0;
    }
}

@media (max-width: 767px) {
    .section1-col1 {
        width: 100%;
        padding: 0 15px 30px;
    }
}

@media (max-width: 767px) {
    .s1-col1-inner {
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    p, .p {
        font-size: 9px;
    }
}

@media (max-width: 767px) {
    label {
        font-size: 12px;
    }
}

@media (max-width: 1025px) {
    label {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    sub, .sub {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .section1-col2 {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .section1-col2-wrap {
        /*display: block;*/
        max-width: 400px;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .s1-card-fill  {
        width: 100%;
        border-width: 0 0 1px 0;
    }
}

@media (max-width: 767px) {
    .s1-card-1-2  {
        width: 100%;
        border-width: 0 0 1px 0;
    }
}

@media (max-width: 767px) {
    .s1-card-1-3  {
        width: 100%;
        border-width: 0 0 1px 0;
    }
}
